@page "/"

<h1>Bienvenue à The Bank</h1>
<p>Votre banque en ligne pour gérer vos comptes.</p>
<NavLink href="/create-account" class="btn btn-success">Créer un compte</NavLink>
<NavLink href="/login" class="btn btn-primary">Se connecter</NavLink>